body{
    background-image: url(https://github.com/learn-academy-2023-hotel/preparedness-assessment-EWinkeljohn/blob/main/preparedness-frontend/src/assets/background-image.jpeg?raw=true);
}
.entire-content{
    text-align: center;
}
.main-header{
    color: white;
    font-size: 50px;
    text-align: center;
}
.name-title{
   margin-top: 50px;
}
.input{
    color: white;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-input{
    font-size: 18px;
    display: flex;
    width: 50%;
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px
}
.button-container{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.button{
    background-color: #0dcaf0 !important;
    color: white;
    padding: 10px;
    margin-right: 20px;
    width: 100px;
    margin-top: 20px;
}